<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winit.mapper.LevelMapper">
	<parameterMap id="Level" type="com.winit.entity.pojo.Level"></parameterMap>

	<resultMap id="LevelResult" type="com.winit.entity.pojo.Level">
		<id property="id" column="id"/>
		<result property="name" column="name"/>	
		<result property="createTime" column="create_time"/>	
	</resultMap>
	
	<select id="levelList" resultMap="LevelResult">
		select  * from levels a
		<where>
			<if test="id != null ">
			      a.id=#{id}
			</if>			
			  <if test='name!=null and name!=""'>
		    and a.name=#{name}
		    </if>
		</where>
	</select>

	<select id="getAll" resultMap="LevelResult">
		select  * from levels a
		<where>
			<if test="id != null ">
			      a.id=#{id}
			</if>			
			  <if test='name!=null and name!=""'>
		    and a.name=#{name}
		    </if>
		</where>
	</select>
	<delete id="deletebyId">
		delete from levels  where id = #{id}
	</delete>
</mapper>
